https://aliduabubakari.github.io/semt_py/

In [1]:
import sys
print(sys.executable)

/Users/abubakarialidu/myenv/bin/python

In [2]:
!pip install --force-reinstall --no-deps --upgrade git+https://github.com/unimib-datAI/Semtui-python.git
!pip install --upgrade --no-cache-dir git+https://github.com/unimib-datAI/Semtui-python.git

Collecting git+https://github.com/unimib-datAI/Semtui-python.git
  Cloning https://github.com/unimib-datAI/Semtui-python.git to /private/var/folders/tj/464jl5ls75l9zfnpxmsx2lrh0000gn/T/pip-req-build-b59xk7bm
  Running command git clone --filter=blob:none --quiet https://github.com/unimib-datAI/Semtui-python.git /private/var/folders/tj/464jl5ls75l9zfnpxmsx2lrh0000gn/T/pip-req-build-b59xk7bm
  Resolved https://github.com/unimib-datAI/Semtui-python.git to commit af04dc35a225d4dc0cb657d4e735bdf5999a769d
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: SemT-py
  Building wheel for SemT-py (setup.py) ... done
  Created wheel for SemT-py: filename=SemT_py-0.1-py3-none-any.whl size=31557 sha256=231808667588efedaac1532a33b83c720b6de5c02db21df0e7664a5e797bea8f
  Stored in directory: /private/var/folders/tj/464jl5ls75l9zfnpxmsx2lrh0000gn/T/pip-ephem-wheel-cache-0qvrsx79/wheels/10/38/30/bbae85fc19adafe32855f67e9acd24696a977575095e3af37f
Successfully built SemT-py
Installing collected packages: SemT-py
  Attempting uninstall: SemT-py
    Found existing installation: SemT-py 0.1
    Uninstalling SemT-py-0.1:
      Successfully uninstalled SemT-py-0.1
Successfully installed SemT-py-0.1
Collecting git+https://github.com/unimib-datAI/Semtui-python.git
  Cloning https://github.com/unimib-datAI/Semtui-python.git to /private/var/folders/tj/464jl5ls75l9zfnpxmsx2lrh0000gn/T/pip-req-build-6pxxlk9d
  Running command git clone --filter=blob:none --quiet https://github.com/unimib-datAI/Semtui-python.git /private/var/folders/tj/464jl5ls75l9zfnpxmsx2lrh0000gn/T/pip-req-build-6pxxlk9d
  Resolved https://github.com/unimib-datAI/Semtui-python.git to commit af04dc35a225d4dc0cb657d4e735bdf5999a769d
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (2.2.2)
Requirement already satisfied: numpy in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (1.26.4)
Requirement already satisfied: chardet in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (5.2.0)
Requirement already satisfied: PyJWT in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (2.9.0)
Requirement already satisfied: fake-useragent in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (1.5.1)
Requirement already satisfied: requests in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (2.32.3)
Requirement already satisfied: python-dateutil in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from SemT-py==0.1) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from pandas->SemT-py==0.1) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from pandas->SemT-py==0.1) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from python-dateutil->SemT-py==0.1) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from requests->SemT-py==0.1) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from requests->SemT-py==0.1) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from requests->SemT-py==0.1) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/abubakarialidu/.pyenv/versions/3.10.12/lib/python3.12/site-packages (from requests->SemT-py==0.1) (2024.7.4)

In [4]:
import SemT_py
import os
import json
import numpy as np
import pandas as pd
import configparser

# Import necessary classes and functions from the SemT_py package
from SemT_py.token_manager import TokenManager
from SemT_py.extension_manager import ExtensionManager
from SemT_py.reconciliation_manager import ReconciliationManager
from SemT_py.utils import Utility
from SemT_py.dataset_manager import DatasetManager
from SemT_py.modification_manager import ModificationManager

# Set pandas display options

pd.set_option('display.max_columns', None)  # Display all columns
pd.set_option('display.max_rows', 20)  # Limit to 20 rows for display

In [5]:

# Initialize the parser
config = configparser.ConfigParser()

# Read the credentials file
config.read("credentials.txt")

# Access the values
base_url = config["DEFAULT"]["BASE_URL"]
api_url = config["DEFAULT"]["API_URL"]
username = config["DEFAULT"]["USERNAME"]
password = config["DEFAULT"]["PASSWORD"]

# Use the credentials
#print(f"Base URL: {base_url}")
#print(f"API URL: {api_url}")
#print(f"Username: {username}")

token_manager = TokenManager(api_url, username, password)
# Get the token
token = token_manager.get_token()
utility = Utility(base_url, token_manager)

In [6]:
# Get the current working directory
cwd = os.getcwd()
print("Current working directory:", cwd)

# Path to your CSV file
csv_file_path = "sample_table.csv"   # Define the path to the CSV file


# Read CSV data using DataManager
try:
    df = pd.read_csv(csv_file_path)  # Read the CSV file into a DataFrame using DataManager
    print("CSV file imported successfully!")  # Print success message
    display(df.head())  # Display the first few rows of the DataFrame
except Exception as e:
    print(f"Error importing CSV file: {e}")  # Print error message if CSV import fails

Current working directory: /Users/abubakarialidu/myenv
CSV file imported successfully!

,Fecha_id,Keyword,Impresiones,Clicks,City,County,Country
0,20230101,alquiler pisos colindres,1,0,Madrid,Community of Madrid,Spain
1,20230101,alquiler pisos sestao,1,0,Barcelona,Catalonia,Spain
2,20230101,steelcraft pedal car,1,0,Buffalo,New York,United States

In [7]:
# Use DataModifier to modify the DataFrame
try:
    df, message = ModificationManager.iso_date(df, 'Fecha_id')
    #print(df)
    print(message)
except ValueError as ve:
    print(f"Error: {ve}")

Date column successfully converted to ISO 8601 format.

In [8]:
df

,Fecha_id,Keyword,Impresiones,Clicks,City,County,Country
0,2023-01-01,alquiler pisos colindres,1,0,Madrid,Community of Madrid,Spain
1,2023-01-01,alquiler pisos sestao,1,0,Barcelona,Catalonia,Spain
2,2023-01-01,steelcraft pedal car,1,0,Buffalo,New York,United States

In [9]:
dataset_manager = DatasetManager(base_url, token_manager)

# Get the list of datasets
datasets_df = dataset_manager.get_database_list(debug=False)
print(datasets_df)

  id  userId                 name  nTables          lastModifiedDate
0  0       0              Museums        9  2024-05-07T14:30:10.190Z
1  1       0               JOT BC       31  2024-10-07T21:41:59.006Z
2  2       0                SN BC        8  2023-11-15T09:51:35.102Z
3  3       0           InterTwino        9  2023-12-15T13:31:24.769Z
4  4       0  Museums_correct-try        7  2024-04-27T18:54:00.810Z
5  5       0             Tutorial       16  2024-06-17T17:32:50.388Z
6  6       0     Tutorial Museums        4  2024-05-23T11:50:05.536Z
7  7       0            All_Cases       33  2024-06-25T15:31:11.216Z

In [10]:
# Add the table to the dataset
dataset_id = "7"  # Replace with the actual dataset ID
try:
    dataset_manager.list_tables_in_dataset(dataset_id) # Attempt to list the tables in the dataset
except Exception as e:
    print(f"Error listing tables in dataset: {e}")

Tables in dataset 7:
ID: 90, Name: JOT_Case
ID: 100, Name: SpendNetwork-TenderData Alligator
ID: 102, Name: JOT_Case
ID: 103, Name: JOT_Example
ID: 112, Name: JOT data tutorial fixed
ID: 114, Name: JOT data tutorial mini
ID: 115, Name: JOT small table
ID: 147, Name: New_JOT_tiny_OK_reconciled
ID: 148, Name: New_JOT_tiny_20240624_UI
ID: 149, Name: New_JOT_tiny_reconciled_20240624
ID: 150, Name: New_JOT_tiny_fixed reconciled
ID: 151, Name: table 1
ID: 152, Name: New_JOT_tiny_reconciled_20240628
ID: 153, Name: New_JOT_tiny_reconciled_final
ID: 154, Name: New_JOT_tiny_reconciled_last
ID: 155, Name: New_JOT_tiny_reconciled_OK
ID: 163, Name: New_Bucharest3
ID: 164, Name: New_Bucharest3
ID: 165, Name: JOT_BC_test
ID: 166, Name: JOT_BC_test_AB
ID: 167, Name: JOT_BC_test_AB
ID: 168, Name: JOT_BC_test_AB_2
ID: 169, Name: JOT_BC_test_AB_2
ID: 170, Name: JOT_tiny_001
ID: 205, Name: JOT_tiny_002
ID: 206, Name: JOT_tiny_003
ID: 207, Name: New_Mantis_test
ID: 232, Name: New_Mantis_test2
ID: 233, Name: Mantis_test_3
ID: 234, Name: test_table_Nov21
ID: 235, Name: Gate_Test_Table
ID: 236, Name: Gate_Resturant_Data
ID: 237, Name: Gate_Mantis_test

In [11]:
# Add the table to the dataset
dataset_id = "7" # Replace with the actual dataset ID
table_name = "Gate_Test_Table_2"  # Define the name of the new table to add

In [12]:
try:
    # Attempt to add the DataFrame (df) as a table to the specified dataset
    message, response_data = dataset_manager.add_table_to_dataset(dataset_id, df, table_name)
    
    # Print the success or failure message
    print(message)
    
    # Extract the table ID if the addition was successful
    if response_data:
        table_id = dataset_manager.extract_table_id(response_data)
        if table_id:
            print(f"Table '{table_name}' added successfully with ID: {table_id}")
        else:
            print("Table ID could not be extracted from the response.")
    else:
        print("No response data available. Table addition might have failed.")

except Exception as e:
    print(f"Error adding table to dataset: {e}")  # Print the error message if an exception occurs

Table added successfully! New table added: ID: 239, Name: Gate_Test_Table_2
Table 'Gate_Test_Table_2' added successfully with ID: 239

In [13]:
try:
    table_data = dataset_manager.get_table_by_id(dataset_id, table_id)  # Attempt to retrieve the specified table from the dataset
    if table_data:
        print(f"Table with id '{table_id}' retrieved successfully!")  # Print success message if table is retrieved
        # No need to display the DataFrame
    else:
        print(f"Table with id '{table_id}' not found in the dataset.")  # Print message if table is not found
except Exception as e:
    print(f"Error retrieving table '{table_id}': {e}")  # Print error message if retrieving the table fails

Table with id '239' retrieved successfully!

In [14]:
table_data

{'table': {'id': '239',
  'idDataset': '7',
  'name': 'Gate_Test_Table_2',
  'nCols': 7,
  'nRows': 3,
  'nCells': 21,
  'nCellsReconciliated': 0,
  'lastModifiedDate': '2024-11-26T14:43:45.629Z'},
 'columns': {'Fecha_id': {'id': 'Fecha_id',
   'label': 'Fecha_id',
   'status': 'empty',
   'context': {},
   'metadata': []},
  'Keyword': {'id': 'Keyword',
   'label': 'Keyword',
   'status': 'empty',
   'context': {},
   'metadata': []},
  'Impresiones': {'id': 'Impresiones',
   'label': 'Impresiones',
   'status': 'empty',
   'context': {},
   'metadata': []},
  'Clicks': {'id': 'Clicks',
   'label': 'Clicks',
   'status': 'empty',
   'context': {},
   'metadata': []},
  'City': {'id': 'City',
   'label': 'City',
   'status': 'empty',
   'context': {},
   'metadata': []},
  'County': {'id': 'County',
   'label': 'County',
   'status': 'empty',
   'context': {},
   'metadata': []},
  'Country': {'id': 'Country',
   'label': 'Country',
   'status': 'empty',
   'context': {},
   'metadata': []}},
 'rows': {'r0': {'id': 'r0',
   'cells': {'Fecha_id': {'id': 'r0$Fecha_id',
     'label': '2023-01-01',
     'metadata': []},
    'Keyword': {'id': 'r0$Keyword',
     'label': 'alquiler pisos colindres',
     'metadata': []},
    'Impresiones': {'id': 'r0$Impresiones', 'label': '1', 'metadata': []},
    'Clicks': {'id': 'r0$Clicks', 'label': '0', 'metadata': []},
    'City': {'id': 'r0$City', 'label': 'Madrid', 'metadata': []},
    'County': {'id': 'r0$County',
     'label': 'Community of Madrid',
     'metadata': []},
    'Country': {'id': 'r0$Country', 'label': 'Spain', 'metadata': []}}},
  'r1': {'id': 'r1',
   'cells': {'Fecha_id': {'id': 'r1$Fecha_id',
     'label': '2023-01-01',
     'metadata': []},
    'Keyword': {'id': 'r1$Keyword',
     'label': 'alquiler pisos sestao',
     'metadata': []},
    'Impresiones': {'id': 'r1$Impresiones', 'label': '1', 'metadata': []},
    'Clicks': {'id': 'r1$Clicks', 'label': '0', 'metadata': []},
    'City': {'id': 'r1$City', 'label': 'Barcelona', 'metadata': []},
    'County': {'id': 'r1$County', 'label': 'Catalonia', 'metadata': []},
    'Country': {'id': 'r1$Country', 'label': 'Spain', 'metadata': []}}},
  'r2': {'id': 'r2',
   'cells': {'Fecha_id': {'id': 'r2$Fecha_id',
     'label': '2023-01-01',
     'metadata': []},
    'Keyword': {'id': 'r2$Keyword',
     'label': 'steelcraft pedal car',
     'metadata': []},
    'Impresiones': {'id': 'r2$Impresiones', 'label': '1', 'metadata': []},
    'Clicks': {'id': 'r2$Clicks', 'label': '0', 'metadata': []},
    'City': {'id': 'r2$City', 'label': 'Buffalo', 'metadata': []},
    'County': {'id': 'r2$County', 'label': 'New York', 'metadata': []},
    'Country': {'id': 'r2$Country',
     'label': 'United States',
     'metadata': []}}}},
 'id': '239'}

## Reconcilition

In [15]:
# Test get_reconciliators_list
reconciliation_manager = ReconciliationManager(base_url, token_manager)
reconciliators_list = reconciliation_manager.get_reconciliators_list(debug=False)

if not reconciliators_list.empty:
    display(reconciliators_list.head())
else:
    print("No reconciliators data available.")

                   id relativeUrl                                   name
0   geocodingGeonames    /dataset  Geocoding: geo coordinates (GeoNames)
1       geocodingHere       /here      Geocoding: geo coordinates (HERE)
2            geonames    /dataset           Linking: GeoNames (GeoNames)
3   wikidataAlligator    /dataset          Linking: Wikidata (Alligator)
4  wikidataOpenRefine   /wikidata         Linking: Wikidata (OpenRefine)

In [16]:
# Test get_reconciler_parameters
reconciliator_id = "geocodingHere"  # Replace with the actual reconciliator ID

# Get the reconciliator parameters
try:
    params = reconciliation_manager.get_reconciliator_parameters(id_reconciliator=reconciliator_id, debug=False)  # Attempt to retrieve parameters
    if params:
        print(f"Parameters for reconciliator '{reconciliator_id}' retrieved successfully!")  # Print success message
    else:
        print(f"Failed to retrieve parameters for reconciliator '{reconciliator_id}'.")  # Print failure message if retrieval fails
except Exception as e:
    print(f"Error retrieving parameters for reconciliator '{reconciliator_id}': {e}")  # Print error message if retrieving parameters fails

Parameters for reconciliator 'geocodingHere':

Mandatory parameters:
- table (json): Mandatory
  Description: The table data in JSON format
- columnName (string): Mandatory
  Description: The name of the column to reconcile
- idReconciliator (string): Mandatory
  Description: The ID of the reconciliator to use

Optional parameters:
- secondPart (selectColumns): Optional
  Description: Optional column to add information to support reconciliation.
  Label: Select a column with information about the location to reconcile
  Info Text:
- thirdPart (selectColumns): Optional
  Description: Optional column to add information to support reconciliation.
  Label: Select a column with information about the location to reconcile
  Info Text:
- fourthPart (selectColumns): Optional
  Description: Optional column to add information to support reconciliation.
  Label: Select a column with information about the location to reconcile
  Info Text:
Parameters for reconciliator 'geocodingHere' retrieved successfully!

In [16]:
column_name = "City"
reconciliator_id = "geocodingHere"
optional_columns = ['County', 'Country']

try:
    reconciled_table, backend_payload = reconciliation_manager.reconcile(
        table_data,
        column_name,
        reconciliator_id,
        optional_columns
    )
    if reconciled_table and backend_payload:
        print("Column reconciled successfully and backend payload created!")
        #print("Final Payload:")
        #print(json.dumps(reconciled_table, indent=2))
        #print("Backend Payload:")
        #print(json.dumps(backend_payload, indent=2))
    else:
        print("Failed to reconcile column or create backend payload.")
except Exception as e:
    print(f"Error during reconciliation process: {e}")

Column reconciled successfully and backend payload created!

In [17]:
utility = Utility(base_url, token_manager=token_manager)

In [18]:
utility.display_json_table(reconciled_table, number_of_rows=2, labels=['City'])

In [20]:
#print("Final Payload:")
#print(json.dumps(reconciled_table, indent=2))

In [21]:
#print("Backend Payload:")
#print(json.dumps(backend_payload, indent=2))

In [19]:
# Push to backend

payload=backend_payload

successMessage, sentPayload = utility.push_to_backend(
    dataset_id,
    table_id,
    payload,
    debug=False
)

print(successMessage)

Updated Table successfully pushed to backend for table 239 in dataset 7

In [23]:
#sentPayload

## Open Meteo Extension

In [24]:
# Get Extender List
# Initialize ExtensionManager

extension_manager = ExtensionManager(base_url, token)  # Create an instance of ExtensionManager with API URL and token

try:
    extenders_list = extension_manager.get_extenders_list(debug=False)  # Attempt to retrieve the list of extenders
    if extenders_list is not None:
        print("Extenders retrieved successfully!")  # Print success message
        display(extenders_list.head())  # Display the first few rows of the DataFrame
    else:
        print("Failed to retrieve extenders.")  # Print failure message if no extenders are retrieved
except Exception as e:
    print(f"Error retrieving extenders: {e}")  # Print error message if retrieving extenders fails

Extenders retrieved successfully!

,id,relativeUrl,name
0,geoPropertiesWikidata,/wikidata/entities,Geo Properties (Wikidata)
1,geoRouteHere,,Geo Route (HERE)
2,meteoPropertiesOpenMeteo,,Meteo Properties (OpenMeteo)
3,reconciledColumnExt,,Annotation properties
4,reconciledColumnExtWikidata,/entity/labels,Annotation properties (Wikidata)

In [20]:
extension_manager = ExtensionManager(base_url, token)

# Call for meteoPropertiesOpenMeteo
meteo_extended_table, meteo_extension_payload = extension_manager.extend_column(
    table=reconciled_table,
    column_name='City',
    extender_id="meteoPropertiesOpenMeteo",
    properties=['apparent_temperature_max', 'apparent_temperature_min', 'precipitation_sum', 'precipitation_hours'],
    other_params={
        'date_column_name': "Fecha_id",
        'decimal_format': "comma"
    })

Column extended successfully!

## Column Extension

In [21]:
# Call for reconciledColumnExt
reconciled_extended_table, reconciled_backend_payload = extension_manager.extend_column(
    table=meteo_extended_table,
    column_name='City',
    extender_id='reconciledColumnExt',
    properties=['id', 'name'],
    other_params={}  # Empty dictionary for reconciledColumnExt
)

Column extended successfully!

In [22]:
payload=reconciled_backend_payload

successMessage, sentPayload = utility.push_to_backend(
    dataset_id,
    table_id,
    payload,
    debug=False
)

print(successMessage)

Updated Table successfully pushed to backend for table 239 in dataset 7

## Download

In [23]:
downloaded_file = utility.download_json(dataset_id, table_id, output_file="Gate_Tutorial.json")

W3C JSON file has been downloaded successfully and saved as Gate_Tutorial.json

In [24]:
downloaded_file = utility.download_csv(dataset_id, table_id, output_file="Gate_Tutorial.csv")

CSV file has been downloaded successfully and saved as Gate_Tutorial.csv